<div class="footer">
    <div class="footer-section">
        <div class="footer-column">
            <h3 class="widget-title">Kontaktinformation</h3>
            <div class="widget-text">
                Sune Nilsson
                <br/>
                nils.sune.nilsson@gmail.com
                <br>
                070-717 5660
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-column">
                <h3 class="widget-title">Kontaktinformation</h3>
                <div class="widget-text">
                    Ulf Nilsson
                    <br/>
                    unilsson@ipfabriken.se
                </div>
            </div>

        </div>

        <div class="footer-column">
            <div class="footer-column">
                <h3 class="widget-title">Följ oss på Twitter</h3>
                <div class="widget-text">
                    TBI
                </div>
            </div>
        </div>
    </div>
</div>